@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}
<div class="about-wrapper">
    <img src="https://images.theconversation.com/files/301743/original/file-20191114-26207-lray93.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" />
    <div class="about-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a sapien
        ullamcorper, lobortis nisi ac, tincidunt ligula. Nam laoreet vel nisi at
        vestibulum. Curabitur accumsan venenatis varius. Proin sed quam
        condimentum, dictum neque vitae, feugiat nunc. Duis facilisis eget
        tortor nec varius. Vestibulum dictum ultricies nisl, sed bibendum enim
        mollis vel. Vivamus fringilla mi eget vestibulum ultrices. Proin
        malesuada magna nunc, nec venenatis orci vulputate pretium. Vestibulum
        sed egestas massa, luctus feugiat est. Pellentesque metus lorem, posuere
        nec risus consequat, suscipit convallis massa. Praesent sed leo a leo
        egestas lacinia nec ac diam. Duis vehicula tempor ipsum ac semper.
        Aenean a sapien id nisl mollis porttitor. Duis id neque malesuada,
        efficitur nibh et, iaculis massa. In efficitur convallis ornare.
        Curabitur faucibus neque in pretium tincidunt. Suspendisse in
        ullamcorper lectus, sit amet hendrerit neque. Morbi luctus tortor id
        quam tristique, at semper purus faucibus. Morbi eu sodales tellus. Morbi
        massa tellus, posuere eu malesuada et, tempus eu metus. Morbi ut justo
        justo. Aliquam hendrerit in libero ac finibus. Sed lobortis lorem eu
        nibh bibendum iaculis. Sed tristique ligula a posuere convallis. Morbi
        velit leo, finibus ac facilisis quis, rutrum ut sapien. Ut laoreet
        egestas sem, a mattis turpis facilisis eget. Nunc.
    </div>
</div>