@{
    ViewBag.Title = "Contact";
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="contact-wrapper">
        <img src="~/Content/contact.jpg" alt="contact image" />
        <div class="contact-grid">
            <div class="contact-information">
                <div class="contact-email">
                    <i class="fas fa-envelope"></i>
                    <div>Email address</div>
                </div>
                <div class="contact-phone">
                    <i class="fas fa-phone"></i>
                    <div>Phone</div>
                </div>
                <div class="contact-address">
                    <i class="fas fa-map-marker-alt"></i>
                    <div>Adress</div>
                </div>
            </div>
            <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2717.9379173100797!2d28.868715188890825!3d47.06106816673183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c97ce00125f907%3A0xfc2e5ee00a6d3d6a!2z0KLQtdGF0L3QuNGH0LXRgdC60LjQuSDQo9C90LjQstC10YDRgdC40YLQtdGCINCc0L7Qu9C00L7QstGL!5e0!3m2!1sru!2s!4v1580806581017!5m2!1sru!2s"
                        width="600"
                        height="400"
                        frameborder="0"
                        style="border:0;"
                        allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</body>
<script src="https://kit.fontawesome.com/ce8d884e76.js" crossorigin="anonymous"></script>
</html>